[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
zappa = "*"
bottle = "*"
python-telegram-bot = "*"
"fn.py" = "*"

[dev-packages]
pylint = "*"
rope = "*"
pytest = "*"

[requires]
python_version = "3.6"
